.h1 {
	font-family: 'Power Grotesk';
	font-size: 48px;
	text-align: center;
}
.error-text {
	font-family: 'Neue Haas Grotesk Text';
	font-size: 246px;
	text-align: center;
}
.instagram-icon {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 30px;
	height: 30px;
	position: fixed;
	bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
	background-color: #FFFFFF;
}

.marquee-text {
	font-family: 'Neue Haas Grotesk Text';
	font-size: 210px;
	display: inline-block;
	white-space: nowrap;
}

.marquee-container {
    justify-content: space-between;
	margin: 0;
	padding: 0;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	list-style: none;
}

.product-item {
	flex: 1;
	max-width: 30%;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.back-button {
	display: block;
	margin-top: 10px;
	background-color: #FFFFFF;
	color: #000000;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 30px;
}

.text {
	font-family: 'Neue Haas Grotesk Text';
	font-size: 16px;
}

.text-details {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-evenly;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

.text-details h3,
.text-details h2,
.text-details p {
	margin: 0;
}

.text-details .text {
	padding-right: 20px;
}

.text-details img {
	width: auto;
	max-height: 450px;
	margin: 0 auto; /
	display: block;
}

.product-item img {
	width: auto;
	max-height: 320px;
	margin: 0 auto; /
	display: block;
}

@media (max-width: 480px) {
    .text-details {
        flex-direction: column;
    }

    .product-item {
        max-width: 100%;
    }

    .desktop-display {
        display: none;
    }

    .mobile-display {
        display: block;
        margin-inline-start: 30px;
        margin-inline-end: 30px;
    }
}

@media (min-width:481px) {
    .text-details {
        flex-direction: row;
        justify-content: space-between;
    }

    .text-details .text {
        padding-right: 20px;
    }

	.mobile-display {
        display: none;
    }

    .desktop-display {
        display: block;
        margin-inline-start: 100px;
        margin-inline-end: 100px;
    }
}
