.h1 {
	font-family: 'Power Grotesk';
	font-size: 48px;
	text-align: center;
	font-weight: normal;
}
.error-text {
	font-family: 'Neue Haas Grotesk Text';
	font-size: 246px;
	text-align: center;
}
.instagram-icon {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 30px;
	height: 30px;
	position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.marquee-text {
	font-family: 'Neue Haas Grotesk Text';
	font-size: 210px;
	display: inline-block;
	white-space: nowrap;
}

.marquee-container {
    justify-content: space-between;
	margin: 0;
	padding: 0;
}

.product-list {
	padding-left: 400px;
	padding-right: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}

.product-item {
	flex: 1;
	max-width: 30%;
	margin: 10px;
	padding: 10px;
	text-align: center;
}

.back-button {
	display: block;
	margin-top: 10px;
	background-color: #FFFFFF;
	color: #000000;
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 30px;
}

.text {
	font-family: 'Neue Haas Grotesk Text';
	font-size: 16px;
}

.text-details {
	display: flex;
	align-items: center;
	padding-left: 400px;
	padding-right: 400px;
}

.text-details h3,
.text-details h2,
.text-details p {
	margin: 0;
}

.text-details .text {
	flex: 1;
	padding-right: 20px;
}

.text-details img {
	width: auto;
	max-height: 450px;
	margin: 0 auto; /
	display: block;
}

.product-item img {
	width: auto;
	max-height: 320px;
	margin: 0 auto; /
	display: block;
}
