<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div id="title">
	    <h1 class="h1">1818 Charity</h1>
    </div>
</head>
<body>
    <div>
	    <h1 class="error-text">Opps</h1>
    </div>

    <br>
    <br>
    <div id="social-media">
	    <br>
	    <a href="https://www.instagram.com/1818charity">
		    <img class="instagram-icon" src="/static/images/ig.png" alt="Instagram"/>
	    </a>
	    <br>
    </div>
</body>
</html>