<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
<head>
    <div id="title">
	    <h1 class="h1">1818 Charity</h1>
    </div>
</head>
<body>
<div class="marquee-container">
	<marquee behavior="scroll" direction="left" scrollamount="25" scrolldelay="20"><span class="marquee-text">SOON</span></marquee>
	<marquee behavior="scroll" direction="right" scrollamount="25" scrolldelay="20"><span class="marquee-text">SOON</span></marquee>
	<marquee behavior="scroll" direction="left" scrollamount="25" scrolldelay="20"><span class="marquee-text">SOON</span></marquee>
</div>

<div id="social-media">
	<a href="https://www.instagram.com/1818charity">
		<img class="instagram-icon" src="/static/images/ig.png" alt="Instagram"/>
	</a>
</div>
</body>
</html>
