<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
<head>
    <div id="title">
	    <h1 class="h1">1818 Charity</h1>
    </div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ product.name }} - Product Detail</title>
</head>

<body>
    <ul class="text-details desktop-display mobile-display">
        <li class="text">
            <h2>Product Detail:</h2>
            <p>{{ product.name }}</p>
            <p>{{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
        </li>
        <li>
            <img src="{{ product.image.url }}" alt="{{ product.name }}" width="200">
        </li>
    </ul>
   <div class="text-details">
       <a href="{% url 'product_list' %}" class="back-button">Back to Product List</a>
   </div>
    <div id="social-media">
	<br>
	<a href="https://www.instagram.com/1818charity">
		 <img class="instagram-icon" src="/static/images/ig.png" alt="Instagram"/>
	</a>
</body>
</html>
