<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
<head>
    <div id="title">
	    <h1 class="h1">1818 Charity</h1>
    </div>
    <meta charset="UTF-8">
	<title>Product Catalog</title>
</head>
<body>
	<ul class="product-list">
		{% for product in products %}
			<li class="product-item">
				<a href="{% url 'product_detail' product.pk %}">
					<img src="{{ product.image.url }}" alt="{{ product.name }}" width="100">
				</a>
                <p class="text">{{ product.name }}</p>
			</li>
		{% endfor %}
	</ul>
    <br>
    <br>
    <div id="social-media">
	    <br>
	    <a href="https://www.instagram.com/1818charity">
		    <img class="instagram-icon" src="/static/images/ig.png" alt="Instagram"/>
	    </a>
	    <br>
    </div>
</body>
</html>
